@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-[#282c3c] text-white;
}

.custom-swal-background {
  background-color: #282c3c !important; 
}

.custom-swal-icon .swal2-success-ring {
  border-color: #ff9400 !important; 
}
.custom-swal-icon .swal2-success-line-tip,
.custom-swal-icon .swal2-success-line-long {
  background-color: #ff9400 !important; 
}
.custom-swal-title {
  color: #ff9400 !important; 
}

.custom-swal-text {
  color: #ffffff !important; 
}