@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-[#282c3c] text-white;
}

.custom-swal-background {
  background-color: #282c3c !important; 
}

.custom-swal-icon .swal2-success-ring {
  border-color: #ff9400 !important; 
}
.custom-swal-icon .swal2-success-line-tip,
.custom-swal-icon .swal2-success-line-long {
  background-color: #ff9400 !important; 
}
.custom-swal-title {
  color: #ff9400 !important; 
}

.custom-swal-text {
  color: #ffffff !important; 
}
@keyframes accordion {
  0%, 100% { transform: scaleX(1); }
  50% { transform: scaleX(1.2); }
}

.animate-accordion {
  display: inline-block;
  animation: accordion 1.5s infinite ease-in-out;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
/* En tu archivo CSS global (por ejemplo, index.css) */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
html, body {
  height: 100%;
  width: 100%;
  overflow: auto; /* Permite desplazamiento solo si es necesario */
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
